extends layout

block content
  h1= title

  - let items = theLocations

  .container-fluid 
    .row-m-1
      each item in items
        - let destination = `dispatch(\"/locations/update/${item._id}\")`
        .row-sm-2.m-1 Item #{item.latitude}, #{item.longitude} is #{item.climate}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
    script.
      function dispatch(path){
        window.location.href=path
      }
